@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:
          Inter,
          'Segoe UI',
          sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F6F7FD;
}
